<div>
    <div class="header">
        <h1> Feelings</h1>
        <p></p>
    </div>
    <fieldset>
        <legend>Feelings</legend>
        <table>

            <tr>
                <td>Feeling</td>
                <td>
                    <input type="text" placeholder="enter your feelings" ng-model="item.feeling" name="feeling">
                </td>
            </tr>
        </table>
        <div class="action">
            <button ng-if="selectedItemIndex == null" class="button button--light"
                    ng-click=" addFeeling(item)"> Add
            </button>
            <button ng-if="selectedItemIndex != null" class="button button--light"
                    ng-click="editFeeling(item)">
                Update
            </button>
        </div>
    </fieldset>

    <table>
        <tr>
            <th>Feelings</th>
            <th>Edit/delete</th>


        <tr ng-if="feelings.length == 0">
            <td colspan="8">Not item added</td>
        </tr>

        <tr ng-repeat="feeling in feelings">
            <td>{{feeling.feeling}}</td>
            <td>
                <input ng-click="editItem($index)" class="img" type="image" src="img/edit.png"/>
                <input ng-click="deleteFeeling(feeling)" class="img" type="image" src="img/delete.png"/>
            </td>
        </tr>
    </table>

</div>