<div>
    <div class="header">
        <h1> Problems</h1>
        <p></p>
    </div>
    <fieldset>
        <legend>Problems</legend>
        <table>

            <tr>
                <td>Problem</td>
                <td>
                    <input type="text" placeholder="enter your problem" ng-model="item.problem" name="problem">
                </td>
            </tr>
        </table>
        <div class="action">
            <button ng-if="selectedItemIndex == null" class="button button--light"
                    ng-click="addProblem(item)"> Add
            </button>
            <button ng-if="selectedItemIndex != null" class="button button--light"
                    ng-click="editProblem(item)">
                Update
            </button>
        </div>

    </fieldset>


    <table>
        <tr>
            <th>Feelings</th>
            <th>Edit/delete</th>


        <tr ng-if="feelings.length == 0">
            <td colspan="8">Not item added</td>
        </tr>

        <tr  ng-repeat="problem in problems">
            <td>{{problem.problem}}</td>
            <td>
                <input ng-click="editItem($index)" class="img" type="image" src="img/edit.png"/>
                <input ng-click="deleteProblem(problem)" class="img" type="image" src="img/delete.png"/>
            </td>
        </tr>
    </table>


</div>